body {
  font-family: "Arial", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
/* Section Hébergement */
.section-hebergement {
  padding: 20px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titre-section {
  text-align: center;
  margin-bottom: 20px;
}

.titre-section h2 {
  font-size: 24px;
  margin: 0;
  color: #333;
  text-transform: uppercase;
}

.titre-section p {
  font-size: 14px;
  color: #777;
  margin: 5px 0 0;
  text-transform: uppercase;
}

.conteneur {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.grille {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* cree 3 colonnes */
  gap: 20px; /* Ajouter un espace de 20px entre les colonnes */
}

.element {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.carte {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease; /*attendre 0.3 s avant de faire la transition de hover*/
}

.carte:hover {
  transform: translateY(-8px);
}
/* Faire le style de logo */
.carte-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Faire le logo rondu */
  margin-bottom: 10px; /* Ajouter un espace entre le logo et le texte */
  border: 2px solid #007bff; /* Ajouter un bordeur pour le logo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajouter un effet de shadow */
}

.carte h4 {
  font-size: 16px;
  margin: 0;
  color: #333;
  text-transform: uppercase;
}

.carte h4 a {
  color: #333;
  text-decoration: none;
}

.carte h4 a:hover {
  color: #007bff;
}

.carte p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
  text-transform: uppercase;
}

.carte span {
  font-size: 12px;
  color: #777;
  display: block;
  margin: 5px 0;
}

@media (max-width: 576px) {
  .element {
    grid-template-columns: 1fr; /* 1 column per row on mobile */
  }
}
section {
  padding: 60px 0;
}
header {
  position: fixed;
  width: 100%;
  z-index: 1000; /* z-index elevee pour assurer le header reste en haut */
}
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.text-center {
  text-align: center;
}

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("assets/img/cyberparc.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  height: 100vh; /* Fait en sorte que l'image de fond occupe toute la hauteur de l'écran. */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero h2 {
  font-size: 3rem;
  font-weight: 700;
}

#hero .btn {
  font-size: 1.2rem;
}

/* Section A propos */
#about img {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#about h3 {
  font-weight: 700;
  font-size: 2rem;
}

/* Footer */
footer {
  background-color: #333;
}

footer a {
  color: white;
}

footer a:hover {
  color: #007bff;
}

footer .social-links i {
  font-size: 1.5rem;
  color: #fff;
}

footer .social-links i:hover {
  color: #007bff;
}
